<h1>New Plot</h1>

<%= form_with scope: :plot, url: plots_path, local: true do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  
  <p>
    <%= form.label :about %>
    <%= form.text_area :about %><br><br>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>