<h1>New Marker</h1>

<%= form_with scope: :marker, url: markers_path, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  
  <p>
    <%= form.label :location %>
    <%= form.text_area :location %><br><br>
  </p>

  <p>
    <%= form.label :details %>
    <%= form.text_area :details %><br><br>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>